#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}




.user-message {
  background-color: #DCF8C6;
  border-radius: 10px;
  padding: 8px;
  margin: 5px 0;
  align-self: flex-end;
  max-width: 70%;
}

.bot-message {
  background-color: #E5E5EA;
  border-radius: 10px;
  padding: 8px;
  margin: 5px 0;
  align-self: flex-start;
  max-width: 70%;
}

ion-item {
  display: flex;
  justify-content: flex-start;
}
