.register-container {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  a {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: bold;
  }
  